<!-- Django code to add this html to ../base.html -->
{% extends "base.html" %}

{% block title %} PRISM - Updates Directory {% endblock title %}

{% block description %}Directory of all currently available updates of days past.{% endblock description%}

<div class="row">
    <div class="col-12">
        {% block 'app-content' %}
            <h1>Update History<h1>
            {% for update in updates %}
                <h3 style="display:inline">{{ update.pretty_title }}</h3> | Posted: {{ update.date_modified }}
                <p>{{ update.formatted_markdown|safe }}</p>
                <hr style="border-color:#597081">
            {% endfor %}
        {% endblock 'app-content' %}
    </div>
</div>