<!-- Django code to add this html to ../base.html -->
{% extends "base.html" %}

{% block title %}PRISM - Updates Directory{% endblock title %}

{% block description %}Directory of all currently available updates of days past.{% endblock description %}

{% block 'door-status' %}
    <form method="post" action="/door-toggle">
        {% csrf_token %}
        {% if door.status == "open" %}
            <input type="submit" class="nav-item btn nav-status open" value="SoHo is {{ door.status }}"/>
        {% elif door.status == "closed" %}
            <input type="submit" class="nav-item btn nav-status closed" value="SoHo is {{ door.status }}"/>
        {% else %}
            <input type="submit" class="nav-item btn nav-status" value="SoHo is {{ door.status }}"/>
        {% endif %}
    </form>
{% endblock 'door-status' %}

<div class="row">
    <div class="col-12">
        {% block 'app-content' %}
            <h1>Update History<h1>
            {% for update in updates %}
                <h3 style="display:inline">{{ update.pretty_title }}</h3> | Posted: {{ update.date_modified }}
                <p>{{ update.formatted_markdown|safe }}</p>
                {% if update != finalUpdate %}
                    <hr style="border-color:#597081">
                {% endif %}
            {% endfor %}
        {% endblock 'app-content' %}
    </div>
</div>