<!-- Django code to add this html to ../base.html -->
{% extends "base.html" %}

{% load static %}

{% block title %}Users Crashpage{% endblock title %}

{% block 'door-status' %}
    <form method="post" action="/door-toggle">
        {% csrf_token %}
        {% if door.status == "open" %}
            <input type="submit" class="nav-item btn nav-status open" value="SoHo is {{ door.status }}"/>
        {% elif door.status == "closed" %}
            <input type="submit" class="nav-item btn nav-status closed" value="SoHo is {{ door.status }}"/>
        {% else %}
            <input type="submit" class="nav-item btn nav-status" value="SoHo is {{ door.status }}"/>
        {% endif %}
    </form>
{% endblock 'door-status' %}

{% block 'app-content' %}
    <body>
        <!-- Page Content -->
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-8">
            {% block 'page-content' %}{% endblock %}
            </div>
        </div>
    </body>
{% endblock 'app-content' %}