<!-- Django code to add this html to ../base.html -->
{% extends "base.html" %}

{% load static %}

{% block title %}PRISM - Page Directory{% endblock title %}

{% block description %}A list of all currently available pages.{% endblock description %}

{% block 'door-status' %}
    {% if user.is_active and perms.core.change_door %}
        {% if door.status == "open" %}
            <form method="post" action="/door-busy">
                {% csrf_token %}
                <input type="submit" class="nav-item btn nav-status open" value="SoHo is {{ door.get_status }}"/>
            </form>
        {% elif door.status == "closed" %}
            <form method="post" action="/door-open">
                {% csrf_token %}
                <input type="submit" class="nav-item btn nav-status closed" value="SoHo is {{ door.get_status }}"/>
            </form>
        {% else %}
            <form method="post" action="/door-close">
                {% csrf_token %}
                <input type="submit" class="nav-item btn nav-status" value="SoHo is {{ door.get_status }}"/>
            </form>
        {% endif %}
    {% else %}
        {% if door.status == "open" %}
            <span class="nav-item btn nav-status open">SoHo is {{ door.status }}</span>
        {% elif door.status == "closed" %}
            <span class="nav-item btn nav-status closed">SoHo is {{ door.status }}</span>
        {% else %}
            <span class="nav-item btn nav-status">SoHo is {{ door.status }}</span>
        {% endif %}
    {% endif %}
{% endblock 'door-status' %}

<div class="row">
    <div class="col-12">
        {% block 'app-content' %}
            {% block 'page-content' %}{% endblock 'page-content' %}
        {% endblock 'app-content' %}
    </div>
</div>
