<!-- Django code to add this html to core-base.html -->
{% extends "core/core-base.html" %}

{% load static %}

{% block title %} PRISM {% endblock title %}

{% block 'page-content' %}
    <div class='row'>
        <div class="col-md-8">
            <div id="welcome">
                <h1> Welcome to PRISM! </h1>
                <p>
                    PRISM is a social and activist organization at Carnegie Mellon University for those of all genders and orientations. We provide a safe space for anyone with an open mind to find new friends, talk about issues, raise awareness, and relax between classes.
                </p><p>
                    Check the calendar below for our upcoming events and initiatives! Or take a look at our support groups if you are interested in joining a support group.
                </p><p>
                    Suggestions / Complaints about the website? Contact our <a href="/pages/contact"></a>webmaster!</a>
                </p>
            </div> <!-- End welcome -->

            <hr> <!-- Divide content -->

            <div id="newest-update">
                <h4>{{ update.pretty_title }}</h4>

                <!-- Render markdown into html. Update from admin controls. -->
                <p>{{ update.formatted_markdown|safe }}</p>
            </div>
        </div> <!-- End column -->

        <!-- Hide sidenav on medium or smaller screens -->
        <div class="col-md-4">
            <div id="index-img" class="d-none d-md-block"></div>
            <div id="door-status-indicator">
                <p>PRISM is located in 'SoHo', room 335 of the Cohen University Center. Come stop on by!</p>
                <p>SoHo is currently <span id="door-status">{{ door }}</span></p>
                
                {% if perms.core.change_door %}
                    <form method="post" action="/door-toggle">
                        {% csrf_token %}
                        {% if door.status == "open" %}
                            <input type="submit" class="door-status-button btn" value="Close SoHo"/>
                        {% else %}
                            <input type="submit" class="door-status-button btn" value="Open SoHo"/>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            <ul id="sidenav" class="list-group d-none d-md-block">
                {% if page_sidenav %}
                    {% for sidenavItem in page_sidenav %}
                        <li class="list-group-item">
                            <a href="/pages/{{ sidenavItem.title }}">{{ sidenavItem.pretty_title }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                <li class="list-group-item">
                    <a href="{% url 'pages-index' %}">Page Directory</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'updates-index' %}">Update History</a>
                </li>
            </ul> <!-- End sidenav-->
        </div> <!-- End column -->
    </div> <!-- End row -->

    <div class="row">
        <div class="col-lg-8 d-none d-md-block">
            <!-- PRISM Weekly Calendar -->
            <iframe id="weekly-cal" src="https://calendar.google.com/calendar/embed?wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=cHJpc21AYW5kcmV3LmNtdS5lZHU&amp;color=%23EF6C00&amp;title=PRISM%20Events&amp;mode=WEEK&amp;showPrint=0&amp;showCalendars=0&amp;showTz=1&amp;showNav=1" style="border-width:0"  width="100%" height="650px" frameborder="0" scrolling="no"></iframe>
        </div> <!-- End column -->
        
        <div class="col">
            <!-- PRISM Daily Calendar-->
            <iframe id="daily-cal" src="https://calendar.google.com/calendar/embed?wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=cHJpc21AYW5kcmV3LmNtdS5lZHU&amp;color=%23EF6C00&amp;title=PRISM%20Agenda&amp;mode=DAY&amp;showPrint=0&amp;showCalendars=0&amp;showTz=1&amp;showNav=1" style="border-width:0" width="100%" height="650px" frameborder="0" scrolling="no"></iframe>
        </div> <!-- End column -->
    </div> <!-- End row -->
{% endblock 'page-content' %}

{% block 'js' %}
    <script src="{% static 'js/img-adjust.js' %}"></script>
    <script src="{% static 'js/door-box.js' %}"></script>
{% endblock 'js' %}
